*{
    box-sizing: border-box;
    font-family: Bicolage Grotesque ;
    
}

nav {
 width: 100%;
 border: solid 1px goldenrod;

}

nav ul li {
 display: inline;
 font-weight:900;

}


nav ul li:not(:first-child){
 
    margin: 10px;

}

header h1 {

    text-align: center;
    font-size: 3rem;
}

.blue {

    color: goldenrod;
}











